[Desktop Entry]
Name=Tutorial
Exec=io.github.fsobolev.GirCoreExtrasTutorial
Icon=io.github.fsobolev.GirCoreExtrasTutorial
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true
